<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GoogleBooksPublicApiKey" value="ENTER YOUR PUBLIC API KEY HERE" />
    <add key="OutputFileForSearchResults" value="C:\Workspace\clu.books\results.txt" /><!-- file path -->
    <add key="OutputSearchResultsToConsole" value="true" /><!-- false | true -->
    <add key="OutputSearchResultsToFile" value="true" /><!-- false | true -->
    <add key="OrderSearchResultsBy" value="Newest" /><!-- Newest | Relevance -->
    <add key="MaxSearchResults" value="40" /><!-- min: 0, max: 40 -->
    <add key="PreferredLanguage" value="EN" /><!-- ISO 639-1 language code -->
    <add key="StubSearchResults" value="true" /><!-- false | true -->
    <add key="StubFileForSearchResults" value="C:\Workspace\clu.books\Volumes.json" /><!-- file path -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>