<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleBooksPublicApiKey" value="ENTER PUBLIC API KEY HERE" />
    <add key="OutputFileForSearchResults" value="C:\Workspace\clu.books\results.txt"/><!-- full file path -->
    <add key="OutputSearchResultsToConsole" value="true"/><!-- false | true -->
    <add key="OutputSearchResultsToFile" value="true"/><!-- false | true -->
    <add key="OrderSearchResultsBy" value="Newest"/><!-- Newest | Relevance -->
    <add key="MaxSearchResults" value="40"/><!-- min: 0, max: 40 -->
    <add key="PreferredLanguage" value="EN"/><!-- ISO 639-1 language code -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>